/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'leagueGothic';
  src: url("fonts/League_Gothic-webfont.eot");
  src: url("fonts/League_Gothic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/League_Gothic-webfont.woff") format("woff"), url("fonts/League_Gothic-webfont.ttf") format("truetype"), url("fonts/League_Gothic-webfont.svg#junctionregularRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'junction';
  src: url("fonts/Junction-webfont.eot");
  src: url("fonts/Junction-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Junction-webfont.woff") format("woff"), url("fonts/Junction-webfont.ttf") format("truetype"), url("fonts/Junction-webfont.svg#junctionregularRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 43, ../sass/screen.scss */
html, body {
  height: 100% !important;
  background-color: #dddddd;
  color: #333333;
  font-size: 12px;
}

/* line 49, ../sass/screen.scss */
.container {
  margin-top: 1em;
}
/* line 52, ../../../../../../var/lib/gems/1.9.1/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
.container:before, .container:after {
  content: "";
  display: table;
}
/* line 56, ../../../../../../var/lib/gems/1.9.1/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
.container:after {
  clear: both;
}

/* line 53, ../sass/screen.scss */
header {
  font-family: leagueGothic, impact, fantasy;
  font-size: 2em;
  border-bottom: 1px solid black;
}

/* line 58, ../sass/screen.scss */
section, aside {
  font-family: junction, "myriad pro", arial, helvetica, sans-serif;
  border-left: 1px dashed #000;
  height: 90%;
}
/* line 62, ../sass/screen.scss */
section > header, aside > header {
  text-align: center;
  background-color: #222222;
  color: #cccccc;
  margin-bottom: 1em;
  padding-right: 5px;
}
/* line 69, ../sass/screen.scss */
section > section > section, aside > section > section {
  border: none;
}

/* line 73, ../sass/screen.scss */
aside {
  border: none;
}
/* line 75, ../sass/screen.scss */
aside header {
  background-color: #dddddd;
  color: #333333;
}

/* line 80, ../sass/screen.scss */
.control {
  float: right;
  display: inline-block;
}
/* line 83, ../sass/screen.scss */
.control > a {
  text-decoration: none;
  margin-left: 10px;
  color: inherit;
}

/* line 89, ../sass/screen.scss */
.task {
  margin: 0 10px;
  border: 1px solid #000;
}
/* line 92, ../sass/screen.scss */
.task > header {
  padding: 0 5px;
}
/* line 95, ../sass/screen.scss */
.task > article {
  margin-top: .5em;
  padding-left: 5px;
}
/* line 99, ../sass/screen.scss */
.task > aside {
  text-align: right;
  font-size: .8em;
  font-style: italic;
}

/* line 105, ../sass/screen.scss */
form.task {
  border: none;
}
/* line 107, ../sass/screen.scss */
form.task legend {
  font-family: leagueGothic, impact, fantasy;
  font-size: 2em;
}

/* line 112, ../sass/screen.scss */
#toDo {
  float: left;
  width: 20%;
  margin-left: 20%;
  margin-right: -40%;
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 116, ../sass/screen.scss */
#today {
  float: left;
  width: 20%;
  margin-left: 40%;
  margin-right: -60%;
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 120, ../sass/screen.scss */
#inProgress {
  float: left;
  width: 20%;
  margin-left: 60%;
  margin-right: -80%;
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 124, ../sass/screen.scss */
#done {
  float: left;
  width: 20%;
  margin-left: 80%;
  margin-right: -100%;
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 128, ../sass/screen.scss */
#stats {
  float: left;
  width: 20%;
  margin-left: 0%;
  margin-right: -20%;
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
