/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'leagueGothic';
  src: url("fonts/League_Gothic-webfont.eot");
  src: url("fonts/League_Gothic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/League_Gothic-webfont.woff") format("woff"), url("fonts/League_Gothic-webfont.ttf") format("truetype"), url("fonts/League_Gothic-webfont.svg#junctionregularRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'junction';
  src: url("fonts/Junction-webfont.eot");
  src: url("fonts/Junction-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Junction-webfont.woff") format("woff"), url("fonts/Junction-webfont.ttf") format("truetype"), url("fonts/Junction-webfont.svg#junctionregularRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 41, ../sass/screen.scss */
body {
  height: 100% !important;
  background-color: #dddddd;
}
/* line 52, ../../../../../../var/lib/gems/1.9.1/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 56, ../../../../../../var/lib/gems/1.9.1/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
body:after {
  clear: both;
}

/* line 46, ../sass/screen.scss */
header {
  font-family: leagueGothic, impact, fantasy;
  font-size: 2em;
}

/* line 50, ../sass/screen.scss */
section {
  font-family: junction, "myriad pro", arial, helvetica, sans-serif;
  margin-top: 1em;
  border-right: 1px dashed #000;
  height: 100%;
}
/* line 55, ../sass/screen.scss */
section > header {
  text-align: center;
  background-color: #222222;
}

/* line 60, ../sass/screen.scss */
#main {
  float: left;
  width: 9.091%;
  margin-left: 0%;
  margin-right: -9.091%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  border-right: 1px dashed #000;
}

/* line 64, ../sass/screen.scss */
#toDo {
  float: left;
  width: 18.182%;
  margin-left: 9.091%;
  margin-right: -27.273%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 68, ../sass/screen.scss */
#today {
  float: left;
  width: 18.182%;
  margin-left: 27.273%;
  margin-right: -45.455%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 72, ../sass/screen.scss */
#inProgress {
  float: left;
  width: 18.182%;
  margin-left: 45.455%;
  margin-right: -63.636%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 76, ../sass/screen.scss */
#done {
  float: left;
  width: 18.182%;
  margin-left: 63.636%;
  margin-right: -81.818%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 80, ../sass/screen.scss */
#stats {
  float: left;
  width: 9.091%;
  margin-left: 81.818%;
  margin-right: -90.909%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
